Source: hyperkitty
Section: python
Priority: optional
Maintainer: Debian Mailman Team <pkg-mailman-hackers@lists.alioth.debian.org>
Uploaders: Pierre-Elliott Bécue <becue@crans.org>,
           Jonas Meurer <mejo@debian.org>
Build-Depends: debhelper (>= 10),
               dh-python,
               python-all,
               python-setuptools,
               python3-sphinx
Standards-Version: 4.1.1
Homepage: https://gitlab.com/mailman/hyperkitty
Vcs-Browser: https://anonscm.debian.org/git/pkg-mailman/hyperkitty.git/
Vcs-Git: https://anonscm.debian.org/cgit/pkg-mailman/hyperkitty.git/
Testsuite: autopkgtest-pkg-python
X-Python-Version: >= 2.7

Package: python-django-hyperkitty
Architecture: all
Depends: fonts-font-awesome,
         python-cssmin,
         python-django,
         python-dateutil,
         python-django-compressor,
         python-django-extensions,
         python-django-haystack,
         python-django-gravatar2,
         python-django-mailman3,
         python-django-paintstore,
         python-django-q,
         python-djangorestframework,
         python-enum34,
         python-lockfile,
         python-mailmanclient,
         python-networkx,
         python-rjsmin,
         python-robot-detection,
         python-tz,
         ${misc:Depends},
         ${python:Depends}
Recommends: nginx | libapache2-mod-uwsgi, uwsgi, mailman3-core
Description: Web user interface to access GNU Mailman3 archives
 The hyperkitty Django app provides a web user interface
 to access GNU Mailman3 archives, and manage it. This
 interface uses django, and requires some configuration.
